/* Login.css */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-left: -15%;
}

#login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#learn-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  width: 70%;
}

/* Styling the Google button */
.custom-google-button {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
